<header class="site-header">
  <div class="container">
    <div class="navbar">
      <div class="brand">
        <a href="/"><img class="brand" src="/assets/img/logoInlineLeftBlack.svg" alt="The Otio Collective logo"></a>
      </div>
      <nav class="header-links">
        <ul>
          <li><a class="nav-link" href="/manifesto">Manifesto</a></li>
          <li><a class="nav-link" href="/projects">Projects</a></li>
          <li><a class="button" href="https://join.slack.com/t/otioworkspace/shared_invite/zt-xmq4i3g5-NCcsdBywskh68vgqeL8NKA">Join Otio on Slack <i class="fab fa-slack icon-right"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
