// =======================================
//  Footer
// =======================================

footer {
  width: 100%;
  background: #f8f8f8;
  border-top: $border;
  text-align: center;
  @include for-tablet-portrait-up {
    text-align: left;
  };
  .footer-inner {
    margin: 0 auto;
    padding: 2rem 0;
    max-width: $column-width;
  }
  img {
    margin: 2rem auto;
    max-width: 6rem;
    @include for-tablet-portrait-up {
      margin: 2rem 0;
      max-width: 8rem;
    };
  }
  p, .social-icons {
    margin-left: auto;
    margin-right: auto;
    @include for-tablet-portrait-up {
      margin-left: 0;
      margin-right: 0;
    };
  }
  .description {
    @include for-tablet-portrait-up {
      margin-top: 3rem;
      margin-bottom: 3rem;
    };
  }
  .social-icons {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: $brand-color;
    @include for-tablet-portrait-up {
      li:first-child {
        margin-left: 0;
      }
    };
  }
  .last-word {
    margin-top: 3rem;
  }
}
