// ------------
// THE DEFAULT FLEXBOX
// Columns on mobile, rows on desktop
// Desktop rows are space-between justified and flex-start aligned
// ------------
.container {
  max-width: $column-width;
  margin: 0 auto;
  padding: 0 10px;
  @include for-desktop-up {
    padding: 0;
  };
}
.flexbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include for-tablet-landscape-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  };
}
.intro {
  padding-top: 2rem;
  margin-bottom: 3rem;
  .link-tiles {
    padding-bottom: 1rem;
    border-bottom: $border;
  }
}
.lead {
  @extend h1 ;
  font-size: 1.4rem;
  margin-bottom: 4rem;
}
.button {
  font-size: 0.8rem;
  text-decoration: none;
  background: #f2e9ff;
  padding: 5px 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  @include for-big-phones-up {
    font-size: 1rem;
  }
  &:hover {
    text-decoration: none;
    border-color: darken(#f2e9ff, 15%);
    span {
      margin-left: 5px;
    }
  }
}
.button-group {
  margin-top: 2rem;
  .button {
    margin-right: 10px;
    @include for-big-phones-up {
      margin-right: 1rem;
    }
  }
}
.link-para {
  text-align: right;
  @media (min-width: 500px) {
    text-align: left;
  }
}
.pullquote {
  float: right;
  padding: 2rem;
  background: #f2e9ff;
  width: 500px;
  margin: 2rem 0 2rem 2rem;
  blockquote {
    padding: 0;
    margin: 0;
    border: 0;
    font-style: normal;
    color: #000;
    span {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }
  .source {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      color: #000;
      .mdash {
        padding-right: 1rem;
      }
      .source-name {
        max-width: none;
        line-height: normal;
      }
      .source-reference {
        font-size: $small;
      }
    }
}
.link-tiles {
  @extend .flexbox;
  justify-content: flex-start;
}
.link-tile {
  flex: 0 1 100%;
  margin-bottom: 2rem;
  @media (min-width: 500px) {
    margin-right: 2rem;
  }
  @media (min-width: 500px) and (max-width: 749px) {
    flex: 0 1 46.2%;
    &:nth-child(2n) {
      margin-right: 0;
    }
  };
  @media (min-width: 750px) and (max-width: 999px) {
    flex: 0 1 30.6%;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @media (min-width: 1000px) {
    flex: 0 1 22.6%;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
